<html>
  <head>
    <title>Jouw voorstel werd aanvaard</title>
    <style>
      html {
        background: #FFF9ED;
        font-family: sans-serif;
        color: #1E1E1E;
      }
      img {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Jouw voorstel werd aanvaard</h1>
    <p>Jouw voorstel op <a href="https://budamunt.herokuapp.com"><b>{{data.title}}</b></a> werd aanvaard</p>
    <br/>
    <a href="https://budamunt.herokuapp.com"> Ga naar de site</a>

  </body>
</html>
