@import 'reset';

:root {
  --bg-color: white;
  --green: #62afa4;
  --grey: #4c4c4c;
  --light-grey: #999;
  --blue: #0b24fb;
}

html {
  background-color: var(--bg-color);
}

body {
  font-family: Lato;
  font-weight: 300;
  font-size: 1.6rem;
}

.wf-active .lato-lig,
.wf-active .lato-reg,
.wf-active .lato-bol,
.wf-active .poppins-bol {
  visibility: visible;
}

.lato-lig {
  visibility: hidden;
  font-weight: 300;
}

.lato-reg {
  visibility: hidden;
  font-weight: 400;
}

.lato-bol {
  visibility: hidden;
  font-weight: 700;
}

.poppins-bol {
  font-family: poppins;
  visibility: hidden;
  font-weight: 900;
}

.green-color {
  color: var(--green);
}

.grey-color {
  color: var(--grey);
}

.light-grey-color {
  color: var(--light-grey);
}

.heading {
  font-size: 3rem;
  line-height: 140%;
}

.heading2 {
  font-size: 2.5rem;
  line-height: 120%;
}

.heading3 {
  font-size: 1.8rem;
  line-height: 120%;
}

.heading4 {
  font-size: 1.3rem;
  line-height: 120%;
}

.hidden {
  visibility: hidden;
}

.noAccess {
  display: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--green);
  transition: all .3s ease;
}

a:not(.nohover):hover {
  color: var(--blue);
}

p {
  line-height: 160%;
}

.logo {
  background: url(../assets/svg/buda-munt-logo.svg) no-repeat center;
}

.button a {
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: .5vw;
  padding: .5vh 2vw;
}

.roud-btn {
  width: 5vw;
  height: 5vw;
  background: white;
  border: .3vw solid var(--green);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-link {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
}

input[type=submit] {
  color: var(--blue);
  border-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: .5vw;
  font-family: Lato;
  font-weight: 700;
  font-size: 1.4rem;
  outline: none;
}

.underline {
  border-bottom: 1px solid var(--green);
}

.error {
  color: tomato;
}

.navigation {
  color: var(--green);
  border-bottom: 1px solid #e5e5e5;
  transition: all .3s ease;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;
  height: 6vh;
  margin-bottom: 5vh;

  & .nav-list {
    display: flex;
    align-items: center;
    height: 100%;

    & .item {
      padding: 1.3vw 2vw;
      height: 100%;
      transition: all .3s ease;
    }
  }

  & .nav-split-right {
    flex-grow: .1;
  }

  & .logo-container {
    height: 100%;
    position: relative;

    & .con-lo {
      margin-top: 5%;
      display: flex;
      padding-top: 8%;
      height: 100%;
      transition: all .3s ease;

      &:hover {
        transform: rotate(-15deg) scale(1.1);
      }
    }
  }

  & .navigation-active-tab {
    border-bottom: .3vw solid var(--blue);
  }
}

.home-header {
  padding: 0 8vw;
  color: var(--grey);

  & .home-title {
    color: var(--grey);
    width: 50%;
    margin-bottom: 5vh;
  }

  & .fold-holder {
    display: flex;
  }

  & .home-split {
    width: 50%;
  }

  & .home-split-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & p {
      width: 60%;
      margin-bottom: 2rem;
    }
  }

  & .home-split-right {
    border-left: 1px solid #e5e5e5;
  }

  & .home-article-item {

    & p, & h2 {
      padding-left: 5rem;
      max-width: 100%;
    }

    & p {
      margin-bottom: 8rem;
    }

    & h2 {
      margin: 3rem 0 5rem;
    }

    & .line {
      display: inline-block;
      background: #e5e5e5;
      height: 1px;
    }

    & .line-long {
      width: 60%;
    }

    & .line-short {
      width: 47%;
    }

    & .icon-overlay {
      position: absolute;
      width: 3rem;
      height: 3rem;
    }

    & .hamburger {
      left: 35%;
      background: url(../assets/svg/hamburger.svg) no-repeat center;
    }

    & .plane {
      left: 50%;
      background: url(../assets/svg/plane.svg) no-repeat center;
    }

    & .home-deco-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.home-activities-overview,
.home-activities-popup {
  width: 100%;
  margin: 10vh 0;
}

.home-activities-overview {
  height: 65vh;
  padding: 0 8vw;
  display: flex;
  justify-content: space-between;
}

.home-activities-popup {
  position: relative;
  background: var(--green);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-activities-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .activities-container {
    width: 60%;

    & .short-text {
      color: var(--grey);
      height: 15vh;
    }

    & .read-more {
      display: inline-block;
      color: var(--blue);
      align-self: flex-start;
      border-bottom: 1px solid var(--blue);
      padding-bottom: .8vh;
      line-height: 120%;
    }
  }

  & h3 {
    margin: 2rem 0;
    border-bottom: 1px solid var(--green);
  }
}

/* Home pop up activities */

.home-popup {
  position: relative;
  background: white;
  width: 75%;
  border-radius: .5vw;
  padding: 5vh 3vw;

  & .overlay-button {
    position: absolute;
  }
}

.activity-header {
  margin-bottom: 2vh;

  & h3 {
    display: flex;
    align-items: center;

    & img {
      width: 3vw;
      margin-right: 1rem;
    }
  }

  & .activity-title-underline {
    height: 1px;
    background: var(--green);
    margin-left: 8%;
  }
}

.activity-description {
  padding-bottom: 5vh;
}

.overlay-button {
  font-size: 5rem;
  color: var(--light-grey);
}

.activity-close {
  top: -2.5vw;
  right: 1vw;
  transform: rotate(45deg);
}

.activity-next {
  top: 45%;
  right: -2.5vw;
}

.activity-previous {
  top: 45%;
  left: -2.5vw;
}

.popup-google-map {
  position: relative;
  height: 20vh;
}

/* Login */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18vh;
}

.login-form {
  width: 50vw;
  display: flex;
  border: 1px solid var(--green);
  border-radius: .5vw;
  margin-top: 2rem;

  & section {
    display: flex;
    flex-direction: column;
  }
}

.label-container {
  padding: 5vh 2vw;
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: 1px solid var(--green);
  font-size: 1.8rem;

  & label {
    margin: 1rem 0 3.5rem;
  }
}

.input-fields {
  padding: 5vh 2vw;
  width: 70%;

  & .input-field {
    margin-bottom: 2rem;
  }

  & input, & select, & textarea {
    width: 100%;
    height: 5vh;
    border: 1px solid var(--light-grey);
    border-radius: .5vw;
    background: transparent;
    outline: none;
    font-family: Lato;
    font-weight: 700;
    font-size: 1.4rem;
  }

  & input[type=text] {
    width: 100%;
  }

  & input[type=submit] {
    margin-top: 3rem;
    width: 33%;
    align-self: flex-end;
  }

  & .info-register {
    align-self: flex-end;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

/* Overzicht */

.overzicht-container {
  padding: 0 8vw;
}

.overzicht-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overzicht-search-bar {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  & input[type=text] {
    width: 70%;
    height: 3rem;
    border: 1px solid var(--green);
    border-radius: .5vw;
    font-size: 1.8rem;
    padding-left: 1rem;
    color: var(--green);
    background: transparent;
    outline: none;
  }

  & input[type=submit] {
    height: 3rem;
    width: 25%;
    outline: none;
  }
}

.overzicht-filter {
  border: 1px solid var(--green);
  border-radius: .5vw;
  padding: 5vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overzicht-filter-options {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: space-between;
}

.overzicht-select {
  display: inline;
  background: transparent;
  height: 3rem;
  border: 1px solid var(--green);
  width: 48%;
  outline: none;
  color: var(--green);
  font-size: 1.8rem;
}

.overzicht-radio-select {
  display: flex;
  flex-wrap: nowrap;
  width: 48%;
  height: 3rem;
  border: 1px solid var(--green);
  border-radius: .5vw;

  & input[type=checkbox] {
    display: none;
  }

  & label {
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 170%;

    &:first-of-type {
      border-right: 1px solid var(--green);
    }
  }

  & input[type='checkbox']:checked + label {
    background: var(--green);
    color: white;
  }
}

/* Overzicht List */

.overzicht-content {
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
}

.activities-all {
  width: 80%;
}

.promoting {
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--green);
  border-radius: .5vw;

  & img {
    width: 25%;
  }
}

.promoting-content {
  width: 70%;
}

.promoting-link {
  align-self: flex-end;
  width: 15%;
}

.activities-list {
  width: 100%;
  margin-top: 5rem;
  border: 1px solid var(--green);
  border-radius: .5vw;
  display: flex;
  flex-direction: column;
}

.header-row {
  border-bottom: 1px solid var(--green);
}

.table-row {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--green);
    padding: 1rem 2rem;

    &:first-of-type {
      border-left: none;
    }
  }
}

.column-f {
  width: 10%;
}

.column-o {
  width: 15%;
}

.column-b {
  width: 85%;
}

.column-m {
  flex-grow: 1;
  width: 45%;

  & p {
    width: 100%;
    text-align: left;
  }
}

.local-stores-container {
  width: 25%;
  margin-left: 5rem;
  border: 1px solid var(--green);
  border-radius: .5vw;

  & h3 {
    padding: 1rem 2rem;
  }
}

.all-stores {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.local-store-item {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    background: var(--green);
    width: 6vw;
    height: 6vw;
  }
}

/* Detail */

.detail-container {
  padding: 0 8vw;
}

.breadcrumbs {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.advertiment {
  border: 1px solid var(--green);
  border-radius: .5vw;

  & .body-row {
    border-bottom: 1px solid var(--green);
  }
}

.detail-more-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  & p {
    width: 100%;
  }

  & form {
    width: 100%;
  }

  & textarea {
    width: 100%;
    height: 10rem;
    background: transparent;
    border: none;
    outline: none;
  }

  & img {
    width: 15%;
    margin-right: 8rem;
  }
}

.reactions {
  margin: 5rem 0;
}

.reaction {
  margin-top: 2rem;
  border: 1px solid var(--green);
  border-radius: .5vw;

  & .table-row {
    border-bottom: 1px solid var(--green);
  }

  & .column-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.control-buttons {
  display: flex;
  width: 12%;
  justify-content: space-between;
  align-items: center;

  & a {
    border: 1px solid var(--blue);
    border-radius: 100%;
    width: 3.5vw;
    height: 3.5vw;
    color: var(--blue);
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
  }

  & .accept {
    transform: rotate(90deg);
  }

}

/* New Activity */

.new-container {
  margin: 0 8vw;
}

.new-activity-form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--green);
  border-radius: .5vw;

  & select, & input {
    width: 40%;
  }
}

.new-section {
  display: flex;
  align-items: center;

  & > label {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    height: 8rem;
    width: 40%;
    border-right: 1px solid var(--green);
  }

  & .input-field {
    padding-left: 2rem;
    width: 100%;
  }

  & input[type='text'],
  & input[type='number'],
  & select {
    height: 5rem;
    border: 1px solid var(--light-grey);
    border-radius: .5vw;
    font-size: 1.6rem;
    background: transparent;
    outline: none;
  }

  & input[type='number'] {
    width: 20%;
  }

  & textarea {
    outline: none;
    font-size: 1.6rem;
    width: 95%;
    height: 7.5rem;
  }
}

.long-section {
  height: 25rem;

  & label {
    display: flex;
    align-items: flex-start;
    padding-top: 5rem;
    height: 100%;
    border-right: 1px solid var(--green);
  }

  & textarea {
    height: 15rem;
  }
}

.more-submit {
  display: flex;
  flex-direction: column;
  align-items: center;

  & textarea {
    width: 95%;
    align-self: flex-start;
  }

  & input[type=submit] {
    align-self: flex-end;
    margin: 1rem 5rem 0;
    width: 20%;
    height: 4rem;
  }
}

.radio-select {
  display: flex;
}

.radio-request, .radio-offer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  line-height: 400%;
  width: 5vw;
  height: 5vw;
  margin: 0 1.2rem 1rem;
  transition: all .3s ease;
}

.radio-option-offer, .radio-option-request {
  display: none;
}

.radio-request {
  background: url(../assets/svg/request-inactive.svg) no-repeat center;
}

.radio-offer {
  background: url(../assets/svg/offer-inactive.svg) no-repeat center;
}

.radio-option-request:checked + .radio-request {
  background: url(../assets/svg/request.svg) no-repeat center;
}

.radio-option-offer:checked + .radio-offer {
  background: green;
  background: url(../assets/svg/offer.svg) no-repeat center;
}

/* Registration */

.registration-container {
  padding: 0 8vw;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.registration-info {
  margin-top: 2rem;
  width: 30vw;
  text-align: center;
  line-height: 180%;
}

.register-select-type {
  width: 60%;
  margin: 5rem;
  display: flex;
  justify-content: space-between;

  & a {
    font-size: 2rem;
    padding: 1rem 2rem;
    line-height: 160%;
    margin: 2rem;
  }

  & .type-option {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Footer */

.footer {
  margin-top: 2rem;
  padding: 2vh 8vw;
  height: 20vh;
  font-size: 1.5rem;

  display: flex;
  justify-content: space-between;

  border-top: 1px solid #e5e5e5;

  & .footer-links {
    display: flex;

    & .footer-item {
      margin: 0 3vw 0 0;
    }
  }

  & .footer-contact-info {
    display: flex;
    flex-direction: column;

    & .footer-contact-item {
      margin-bottom: 1.5rem;
    }
  }
}

/* Google Styles */

.google-marker {

  & p {
    font-size: 1.3rem;
    color: var(--grey);
  }

  & .marker {
    flex-grow: 1;
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    background: white;
    border: .5vw solid var(--green);
  }
}
